@import "tailwindcss";

.navbar-logo {
    display: flex;
    padding: 1px;
    background-color: #1E5631;
    font-size: large;
}


@media (max-width: 600px) {
    .navbar-logo {
        flex-direction: row;
        justify-content: space-between;
        border-radius: 30px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: green;
        border-radius: 0 0 30px 30px;
    }

    .navbar-links.active {
        display: flex;
    }
}